body {
    font-size: 30px;
    font-family: Helvetica-Light;
    color: black;
    margin: 40px;
}

h1 {
    font-size: 44px;
    font-family: Futura;
    text-transform: uppercase;
    font-style: bold;
    width: 350px;
}


h2 {
    font-family: Helvetica;
    font-style: none;
    font-size: 21px;
    width: 350px;
}

a {
    color: yellow;
}

/* THIS IS A NOTE EXAMPLE */

p {
    font-size: 20px;
}

.third {
    font-family: Helvetica !important ;
    font-size: 18px !important ;
    font-weight: bold;
    
}

.special {
    font-family: Futura;
    color: black;
    background-color: lightblue;
    font-size: 35px;
}