body {
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: Italic;
    color: black;
}

h1 {
    font-size: 36px;
    font-family: Futura;
    text-transform: uppercase;
    font-style: bold;
}

h2 {
    font-family: Helvetica;
    font-style: oblique;
    font-size: 18px;
}

a {
    color: yellow;
}

/* THIS IS A NOTE EXAMPLE */

p {
    font-size: 20px;
}

.third {
    font-family: Helvetica !important ;
    font-size: 18px !important ;
    
}

.special {
    font-family: Futura;
    color: black;
    background-color: yellow;
    font-size: 35px;
}

