h1 {
    font-family: 'Droid Serif', serif;
    font-size: 42px;
    color: black;
    width: 190px;
    position: absolute;
    top: 30px;
    right: 500px;
    z-index: 10;
}

h1 a:hover {
  z-index: 100;
  color: #B52D61;
}

h1 a:link, a:visited {
  color: black;
}

h2 {
  font-family: 'Droid Serif', serif;
  font-size: 20px;
  line-height: 90%;
  color: black;
  width: 100px;
  position: absolute;
  right: 40px;
}

body {
  background-size: cover;
  height: 100%;
  font-family: 'Droid Serif', serif;
  font-weight: 700;
  font-size: 14px;
  color: black;
}

/* MENU BAR */

.About {
  position: absolute;
  top: 65px;
  left: 320px;
  width: 15%;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

.About:hover {
  z-index: 100;
  width: 20%;
}

.Home {
  position: absolute;
  top: 80px;
  right: 100px;
  width: 40%;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

.Home:hover {
  z-index: 100;
  width: 50%;
}

.Books img {
  width: 35%;
}

/* BOOKS ON THE TABLE */

.CWO {
  position: absolute;
  top: 200px;
  left: 200px;
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
  transform: rotate(7deg);
}

.GG {
  position: absolute;
  top: 500px;
  left: 100px;
  -ms-transform: rotate(-10deg); /* IE 9 */
  -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
  transform: rotate(-10deg);
}


.ATLS {
  position: absolute;
  top: 400px;
  left: 500px;
  -ms-transform: rotate(-20deg); /* IE 9 */
  -webkit-transform: rotate(-20deg); /* Chrome, Safari, Opera */
  transform: rotate(-20deg);
}

.TKMB {
  position: absolute;
  top: 600px;
  left: 900px;
  -ms-transform: rotate(30deg); /* IE 9 */
  -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
  transform: rotate(30deg);
}

/* hover states for book titles and links */ 

figcaption {
  display: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 30px;
  width: 350px;
  color: black;
}

.CWO:hover figcaption {
  display: block;
  z-index: 555;
}

.ATLS:hover figcaption {
  display: block;
  z-index: 555;
}

.GG:hover figcaption {
  display: block;
  z-index: 555;
}

.TKMB:hover figcaption {
  display: block;
  z-index: 555;
}

/* SQUARE TABLE BORDER */

#top, #bottom, #left, #right {
	background: #000;
	position: fixed;
	z-index: 1;
}
	
#left, #right {
	top: 0; bottom: 0;
	width: 10px;
}

#left { left: 0; }

#right { right: 0; }
		
#top, #bottom {
	left: 0; right: 0;
	height: 10px;
}

#top { top: 0; }

#bottom { bottom: 0; }

/* TABLE MENU BAR */

.tablemenu {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

.tablemenu img {
  width: 130px;
  height: auto;
}

.tablemenu img:hover {
  z-index: 1;
  width: 15%;
}

.abt {
  position: absolute;
  right: 500px;
  height: 120px;
}

.hme {
  position: absolute;
  left: 20px;
}

/* FOR EACH OF BOOK COLLECTIONS */

.container {
    /* Prevent vertical gaps */
    position: relative;
    top: 180px;
    line-height: 0;
    -webkit-column-count: 4;
    -webkit-column-gap:   0px;
    -moz-column-count:    4;
    -moz-column-gap:      0px;
    column-count:         4;
    column-gap:           50px;  
}

.container img {
    /* in case for inline attributes */
    width: 100% !important;
    height: auto !important;
}

