.h1 {
  margin: 50px auto;
}

body {
  font-family: 'EB Garamond', serif;
  background-color: #335493;
  color: #FFFFFF;
  top: 40px;
}

.snow {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  background-color: #BCDBE7;
}

.flake {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: absolute;
  margin-left: 500px;
  margin-right: 500px;
  background-color: #C5C8D9;
}

.mybutton {
  background-color: #636675;
  border: 15px 15px;
  color: #191C3E;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 12px;
  font-family: 'Helvetica', serif;
}

.song1 {
  background-color: #636675;
  border: 15px 15px;
  color: #191C3E;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 12px;
  font-family: 'Helvetica', serif;
  clear: both;
}

.song2 {
  background-color: #636675;
  border: 15px 15px;
  color: #191C3E;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 12px;
  font-family: 'Helvetica', serif;
  clear: both;
}


.mytext {
  position:fixed;
  bottom: 0;
  background-color: yellow;
  font-size: 24px;
  color: black;
}